@use '../../utilities/colors' as c;
@use '../../utilities/root' as r;

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .contact__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .contact__form__email, 
        .contact__form__message {
            width: 100%;
            padding: 1em;
            border: 2px solid c.$color-yellow;
            border-radius: 0.5em;
            resize: none;
        }

        .contact__form__message {
            height: 20vh;
        }

        .contact__form__button {
            background: c.$color-yellow;
            border-radius: 2em;
            font-size: 0.9em;
            padding: 0.5em;
            transition: r.$transition;

            &:hover {
                color: c.$color-white;
            }
        }
    }
}

.contact__map {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    .contact__map__location {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        .contact__map__location__iframe {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }   
    }
}

.swal-modal {
    background: c.$color-black;
    border: 2px solid c.$color-yellow;
}
.swal-title,
.swal-text {
    color: c.$color-white;
}

.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners {
    background: none !important;
}

.swal-icon--success__line {
    background-color: #00ff00;
}

.swal-icon--success__ring {
    border-color: #00ff00;
}
.swal-icon--error {
    border-color: #ff0000;
}

.swal-icon--error__line {
    background-color: #ff0000;
}

.swal-button {
    background: c.$color-yellow;
    color: c.$color-black;
}

.swal-button:not([disable]):hover {
    background: c.$color-white;
    color: c.$color-black;
    border-color: transparent;
}